button{
	height:20px;
	width: 450px;
}

h1{
	color:#6b4e3d;
}

#heading{
	height: 60px;
	border-bottom: solid #EEEEEE;
}

#container{
	margin: auto;
	position: relative;
	background-color: white;
	width: 1000px;
	padding-top: 50px;
}



.problemNumber{
	position:relative;
	bottom: 14px;
	color: #555555;
	font-family: "Courier New";
	font-weight: bold;
}

.problemParagraph{
	border: solid #EEEEEE;
	position: relative;
	bottom: 30px;
}

.problemHeading{
	color: #6b4e3d;
}


.solutionParagraph{
	float: left;
}
